
.sidebar-container-admin {
  background-color: #e8f6fc;
  padding-top: 2rem; /* Aumenta el espacio superior */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: width 0.3s ease;
  margin-top: -40px;
  margin-left: -40px;
}
.second-container-admin
{
  display: flex ;
  gap: 1rem;
}
.contenedor-cajas-admin{
    padding: 20px;
}
  .list-item-button-admin {
    display: flex;
    align-items: center;
  }
.ajustes-soporte-admin{
  position: sticky;
  margin-top: 15rem;
}
.dash-cuentas-admin{
  display: flex ;
  flex-direction:column;
  gap: 8px;
}
  .list-item-text-admin {
    flex-grow: 1;
    font-weight: bold;
  }
  
  .submenu-item-admin {
    padding-left: 2rem;
  }
  /* Selección de scrollbars solo para elementos con la clase "-dash-admin" */
.-dash-admin::-webkit-scrollbar {
  width: 10px; /* Ancho de la scrollbar */
  height: 10px; /* Altura de la scrollbar horizontal */
}

.-dash-admin::-webkit-scrollbar-track {
  background: #f4f4f4; /* Fondo del track */
  border-radius: 5px; /* Bordes redondeados */
}

.-dash-admin::-webkit-scrollbar-thumb {
  background: #6c757d; /* Color del pulgar */
  border-radius: 5px; /* Bordes redondeados del pulgar */
}

.-dash-admin::-webkit-scrollbar-thumb:hover {
  background: #495057; /* Cambia de color al pasar el mouse */
}

/* Firefox */
.-dash-admin {
  scrollbar-width: thin; /* Barra delgada */
  scrollbar-color: #6c757d #f4f4f4; /* Color del pulgar y del track */
}

  .list-item-icon-admin {
    min-width: 30px;
  }
  
  /* Estilos para el formulario */
  
  .formulario-header-title-admin {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff007f;
  }
  
  .formulario-subtitle-admin {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 3rem;
  }
  
  .formulario-subtitle-section-admin {
    font-weight: bold;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
  }
  
  .formulario-box-admin {
    background-color: #fff;
    padding: 3rem;
  }
  
  .formulario-grid-item-admin {
    padding: 0.5rem;
  }
  
  .formulario-input-admin {
    width: 100%;
  }
  

  .formulario-button-reject-admin {
    color: #ff007f;
    border-color: #ff007f;
  }
  /*hook*/
  .formulario-button-accept-admin {
    background-color: #e8f6fc;
    color: #fff;
  }
  
  .formulario-button-accept-admin:hover {
    background-color: #005f85;
  }
  
  .formulario-button-reject-admin:hover {
    background-color: #ffeef6;
    border-color: #ff007f;
  }
  
  /* Estilos para la sección Recibidos */
  .recibidos-container-admin {
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
  }
  /*hook2*/
  .recibidos-header-admin {
    background-color: #e4f7ff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .recibidos-header-title-admin {
    color: black;
    text-align: center;
    font-size: 15rem;
  }
    /* Formulario */
    .formulario-container-admin {
      width: 900px;
      background-color: #e8f6fc;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      padding: 4rem;
      margin: 4rem auto;
      transition: width 0.3s ease;
    }
  
  .recibidos-filter-buttons-admin {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;
    padding: 1rem;
  }
  
  .recibidos-filter-button-admin {
    margin: 5px;
    background-color: #e4007c;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    font-size: 1rem;
  }
  
  .recibidos-filter-button-active-admin {
    border: 2px solid #fff;
  }
  
  .recibidos-filter-button-admin:hover {
    background-color: #d1006f;
  }
  
  /* Estilos para el contenedor de controles */
  .controls-container-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .controls-container-admin .MuiTextField-root {
    max-width: 250px;
  }
  
  .controls-container-admin .MuiInputAdornment-root {
    color: #e4007c;
  }
  /* Media query para pantallas pequeñas */


/* Media query para pantallas pequeñas */




@media (max-width: 808px) {
  .sidebar-container-admin {
    width: 200px;
  }

  .formulario-button-reject-admin,
  .formulario-button-accept-admin {
    width: 100%;
    margin-top: 1rem;
  }

  .formulario-grid-item-admin {
    padding: 0.2rem;
  }
}

@media (max-width: 2000px) {
  .sidebar-container-admin {
    background-color: #e8f6fc;

}

  .formulario-container-admin {
    width: 80%;

  }

  .recibidos-header-title-admin {
    font-size: 1.1rem;
  }
}
