/* Fondo blanco para toda la pantalla */
.search-history-background-history {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

/* Contenedor de los controles de filtro, borrar y búsqueda, centrado horizontalmente */
.controls-container-history {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px; 

}

.input-login-history {
  margin-top: 15px;
  margin-left: 85px;
}

.controls-container-history .btn-link-history {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.controls-container-history .btn-link-history:hover {
  color: #007bff;
  text-decoration: underline;
}

.search-bar-history {
  width: 300px;
  padding: 7px;
  padding-left: 30px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Fondo azul claro solo para la caja del historial */
.search-history-box-history {
  background: #e3f2fd;
  padding: 30px;
  
  
  border-radius: 10px;
  box-shadow: 0 0px 100px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 2000px;
  height: auto;
  
  
}

.aline-between-history {
  justify-content: space-between;
}

.header-history {
  margin-bottom: 10px;
}

.close-icon-history {
  cursor: pointer;
  font-size: 24px;
  color: #666;
  border: none;
  background: none;
}

.date-text-history {
  font-size: 14px;
  color: #6c757d;
  text-align: center;
  margin-bottom: 20px;
}

.search-history-item-history {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left-history {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.checkbox-history {
  margin-right: 10px;
}

.query-time-history {
  color: #6c757d;
  font-size: 14px;
  margin-right: 8px;
}

.query-text-history {
  font-weight: bold;
  color: #1a0dab;
  text-decoration: none;
}

.query-text-history:hover {
  text-decoration: underline;
}

.menu-icon-history {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: auto;
}

/* Nueva regla para hacer que los controles se apilen en pantallas pequeñas */
@media (max-width: 768px) {
  .controls-container-history {
      flex-direction: column;
      align-items: center;
  }

  .btn-history {
      width: 100%;
  }
}
