
.search-history-box-history {
  -webkit-overflow-scrolling: touch; /* Desplazamiento suave en dispositivos móviles */
}
 
/* Quitar el scrollbar de cualquier otro contenedor con overflow */
::-webkit-scrollbar {
  width: 0px;
  height: 0px; /* Eliminar el scrollbar horizontal también */
}

/* Eliminar el track y el thumb si ya están definidos */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

/* Botones */
.btn-history {
  padding: 6px 16px;
  height: auto;
  width: 200px;
}

/* Contenedor de controles */
.controls-container-history {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 50px; /* Centramos el contenedor y damos margen inferior */
  flex-wrap: nowrap; /* Soporte para pantallas pequeñas */
}

/* Barra de búsqueda */
.search-bar-history {
  padding: 7px 30px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 38px;
  flex-grow: 1;
  max-width: 500px;
  width: 100%;
}




/* Caja de filtro */
.filter-box-history {
  transform: translateY(-12px);
  width: 85%;
  margin-left: 50px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);

  /* Propiedades adicionales */
  max-height: 700px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  z-index: 10;

  /* Puedes descomentar la siguiente línea si quieres que sea fija */
  /* position: fixed; */

  margin-right: 1550px;
  margin-bottom: -85px;
  top: 110px;
  left: 10px; /* Margen más seguro en pantallas pequeñas */
}

/* Opciones de filtro */
.filter-option-history {
  font-size: 18px;
  cursor: pointer;
  color: #007bff;
  padding: 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-option-history:hover {
  text-decoration: underline;
  background-color: #007bff;
  color: white;
}

/* Elementos del historial */
.search-history-item-history {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left-history {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* HOVER DE LA CAJA */
.item-left-history:hover {
  background-color: #a2dcee; /* Cambia el fondo al pasar el mouse */
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.checkbox-history {
  margin-right: 10px;
}

.query-time-history {
  color: #6c757d;
  font-size: 14px;
  margin-right: 8px;
}

.query-text-history {
  font-weight: bold;
  color: #1a0dab;
  text-decoration: none;
}

.query-text-history:hover {
  text-decoration: underline;
}


.menu-icon-history {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: auto;
}

/* Fecha del historial */
.date-text-history {
  font-size: 14px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Título del historial */
.history-page-title {
  font-size: 3rem;
  font-weight: bold;
}

/* Contenedor del título sobre SearchHistoryBox */
.title-container-box {
  position: relative;
  text-align: right; /* Alinea el contenido a la derecha */
  margin-bottom: 1rem; /* Espaciado entre el título y la caja */
}

/* Icono del título */
.title-container-box .MuiSvgIcon-root {
  margin-right: 0.5rem; /* Espaciado entre el icono y el título */
}