.it-res-card {
    display: flex;
    flex-direction: row;
}

@media (max-width: 660px) {
    .it-res-card {
        flex-direction: column; 
    }

    .it-res-card .MuiCardMedia-root {
        width: 100%;
        height: 100%; 
    }

    .it-res-card .MuiCardContent-root {
        padding: 8px; 
    }

    .it-res-card .MuiBox-root {
        min-width: auto; 
    }
}