.planer-dot-day-enabled {
   background-color: #b9e7f781;
   border: solid 0.12rem #489abb;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.planer-dot-day-disabled {
   background-color: #f3f3f3;
   border: solid 0.12rem #929292;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.planer-dot-day-today {
   background-color: #e4007d1a;
   border: solid 0.12rem #E4007C;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.planer-dot-day-selected {
   border: solid 0.12rem #E4007C;
}

.it_page-img-item {
   width: 100%;
   max-width: 15rem;
   object-fit: cover;
}

.it_pa-list-things {
   list-style-type: none;
   padding-left: 0;
}

.it_pa-list-dot {
   margin-right: 0.5rem;
   color: #E4007C;
}

.it_pa-imagen-turista {
   width: 100%;
   max-width: 12rem;
   object-fit: cover;
}

.it_pa-image-carousel {
   height: 14rem;
   object-fit: cover;
}

/* Ajustes de responsividad */
.it_pa-planer-and-moreinfo-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.it_pa-planer-container {
   width: 68%;
}
.it_pa-more-info-container {
   width: 30%;
}


.it_pa-modal-info-place {
   display: none;
}

@media (max-width: 1200px) {
   .it_pa-more-info-container {
      display: none;
   }
   .it_pa-planer-and-moreinfo-container {
      align-items: center;
      justify-content: center;
   }
   .it_pa-planer-container {
      width: 100%;
   }
   .it_pa-modal-info-place {
      display: block;
   }
}
@media (max-width: 700px) {
   .it_pa-item{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .it_page-img-item {
      width: 100%;
      max-width: 22rem;
      height: 100%;
      max-height: 12rem;
      margin-bottom: 0.5rem;
      object-fit: cover;
   }
}