/* Fondo de la página */
.login-background {
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('../img/HomePage/home-bg.jpg');
   background-size: cover;
   background-position: center;
}

/* Columna izquierda (imagen y texto) */
.login-left {
   flex: 1;
   position: relative;
   display: flex;
}

.login-left-image {
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('../img/piramides-teotihuacan.webp');
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
}
/* Contenedor del cuadro de login */
.login-box {
   background-color: white;
   max-width: 800px;
   height: auto;
   max-height: 98vh;
   overflow-y: auto;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   position: relative;
}

/* Icono de cerrar */
.close-icon {
   position: absolute;
   top: 15px;
   right: 15px;
   font-size: 1.5rem;
   cursor: pointer;
   color: #333;
}

/* Contenido dividido en dos columnas */
/* .login-content {
   display: flex;
   height: 100%;
} */


.login-left-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 20px;
   text-align: left;
}

.photo-credit {
   position: absolute;
   bottom: 10px;
   left: 10px;
   color: rgba(255, 255, 255, 0.8);
   font-size: 0.85rem;
}

/* Columna derecha (formulario) */
.login-right {
   flex: 1;
   padding: 2rem;
}

/* Botones sociales */
.btn-floating {
   font-size: 1.3rem;
   color: #489abb;
}

.btn-floating:hover {
   color: #2f6d9e;
}

/* Responsivo */
@media (max-width: 768px) {
   .login-box {
      max-width: 30rem;
      margin: 0 1rem;
   }

   .login-left {
      display: none;
   }

   .login-content {
      flex-direction: column;
   }
}

@media (max-height: 975px) {
   .lo_pa-opciones-inicio {
      margin-bottom: 2rem;
   }
}

.lo_pa-rule-input {
   font-size: 0.8rem;
}