@import "../var.css";

.place-page, .reviews {
    padding: 4%;
}

.place-page-img {
    width: 100%;
    height: 140px;
    background-image: url('../img/HomePage/places/home-places-miguel-hidalgo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.place-img {
    display: flex;
    margin-top: 70px;
}

.big-img {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.fila-1, .fila-2 {
    display: flex;
    padding-left: 5%;
    justify-content: space-around;
}

.fila-1 {
    padding-bottom: 1%;
}

.col-little-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place-little-img {
    width: 40%;
    aspect-ratio: 1;
    background-image: url('../img/PlacePage/place-img-cafeterias.jpg');
    background-size: cover;
    background-position: center;
}
 /*
.col-big-img {
    display: flex;
    justify-content: start;
    align-items: center;
}

.place-big-img {
    width: 90%;
    aspect-ratio: 1;
    background-image: url('../img/HomePage/places/home-places-miguel-hidalgo.jpg');
    background-size: cover;
    background-position: center;
}

*/

.place-img {
    display: flex;
    margin-top: 70px;
}

.big-img {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.fila-1, .fila-2 {
    display: flex;
    padding-left: 5%;
    justify-content: space-around;
}

.fila-1 {
    padding-bottom: 1%;
}

.col-little-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place-little-img {
    width: 40%;
    aspect-ratio: 1;
    background-image: url('../img/PlacePage/place-img-cafeterias.jpg');
    background-size: cover;
    background-position: center;
}
 /*
.col-big-img {
    display: flex;
    justify-content: start;
    align-items: center;
}

.place-big-img {
    width: 90%;
    aspect-ratio: 1;
    background-image: url('../img/HomePage/places/home-places-miguel-hidalgo.jpg');
    background-size: cover;
    background-position: center;
}

*/

.place-row {
    width: 100%;
}

.place-text, .place-description {
    font-family: var(--font-body);
}

.place-text {
    text-align: justify;
}

/* -------- Left Site of the Page ------------- */


.place-left-site {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: start;
    align-items: start;
}

.description-left {
    margin-top: 20px;
}

.map-placeholder {
    width: 100%;
    aspect-ratio: 1.4;
    /* de a mientras una imagen :) */
    background-image: url('../img/HomePage/mapa.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

.card-descripcion-lugar {
    width: 350px;
    border-radius: 0;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    padding: 4%;
}

.col-icon {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.link-google-maps {
    color: var(--color-secondary);
}

/* -------------- Right Site of the Page --------- */

.place-right-site {
    /* width: 70%; */
    align-items: start;
    align-items: start;
}

.place-title {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-bottom: 0;
}

.place-score {
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score {
    width: fit-content;
    margin-right: 15px;
}

.score-text {
    font-weight: 500;
    margin-bottom: 0;
}
.stars {
    width: fit-content;
    display: flex;
    align-items: center;
}

.place-score-stars {
    width: fit-content;
    display: flex;
}

.place-buttons {
    width: fit-content;
}

/* --------------- Botones ---------------------- */

.btn-place-page {
    margin-top: 2%;
    margin-left: 4%;
    background-color: var(--color-secondary);
    color: #fff;
}

.btn-place-page:hover {
    background-color: #fff;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    transition: 0.5s;
}

.btn-placePage-button {
    width: fit-content !important;
    border-color: var(--color-secondary);
    margin-left: 5px;
    color: var(--color-secondary);
}

.btn-placeOnClick {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: #fff;
}

.btn-placePage-favoritos {
    display: flex;
    justify-content: flex-end;
    width: fit-content !important;
}
/* ------------Review section ---------------- */
.review-card {
    border-radius: 0;
    border-left-color: #c43293 ;
    border-left-width: 10px;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.review-content {
    margin-bottom: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: start;
}

.card-title-place {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.title-place {
    font-family: var(--font-tittle);
    font-weight: 400;   
}

.review-description {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #fff;
    height: fit-content;
}

.review-description-opinion {
    margin-top: 20px;
    margin-bottom: 5px;
}

.review-user-section-left {
    display: flex;
    height: fit-content;
    width: 20%;
}

.review-user-information {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.review-user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




@media (min-width: 768px) and (max-width: 1300px) {
    .place-right-site {
        padding-left: 4%;
    }
    
}

@media (max-width: 768px) {
    .place-row { 
        display: flex;
        flex-direction: column-reverse;
    }
    .place-right-site {
        padding: 3%;
    }
    
    .place-left-site {
        width: 100%;
    }

    .card-descripcion-lugar {
        width: 90%;
    }
}

@media (max-width: 1931px) {
    .card-title-place {
        margin-left: 30px;
    }

    .title-place {
        font-size: 2em;
    }
}

@media (max-width: 1020px) {
    .review-content {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .review-user-section-left, .review-description {
        width: 90%;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 431px) {
    .review-user-section-left, .review-description {
        margin-left: 0px;
        width: 100%;
    }

}