/* styles.css */
  
  .pref-modal-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #000000; /* Color del borde al pasar el cursor */
  }
  
  .pref-modal-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #E4007C; /* Color del borde al enfocar */
  }
  .pref-modal-textfield .MuiInputLabel-root.Mui-focused {
    color: #E4007C; /* Color de la etiqueta al enfocar */
  }
  
  