.rosaMexicano {
   background-color: #E4007C;
}

.azulMaya {
   background-color: #B9E5F7;
}

.fontMontserrat {
   font-family: 'Montserrat', sans-serif;
}

.fontPoppins {
   font-family: 'Poppins', sans-serif;
}